// src/custom.scss

// 1. Import Bootstrap's functions (required for some variables/mixins)
@import "~bootstrap/scss/functions";

// 2. Override Bootstrap's default variables
// You can find a full list of variables in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you want to change here and set their new values.

// Primary color (used for buttons, links, active states, etc.)
$primary: #4C9FD2; // A custom purple
$secondary: #C9E7F8;
$success: #C9E7F8;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #C9E7F8;
$dark: #343a40;

// // You can also adjust grayscale colors
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// // ...and so on up to $gray-900

// // Body background and text color
// $body-bg: #f5f5f5;
// $body-color: #333;

// // Link colors
// $link-color: $primary;
// $link-hover-color: darken($link-color, 15%); // Example: darken on hover

// You can override countless other variables like:
// $font-family-base: 'Roboto', sans-serif;
// $border-radius: .5rem;
// $enable-shadows: true;
// $enable-gradients: true;


// 3. Import the rest of Bootstrap's SCSS
// Your overrides will take precedence because of the !default flag in Bootstrap's variables
@import "~bootstrap/scss/bootstrap";

// 4. Add any custom CSS classes or styles below this import
// .my-custom-button {
//   background-color: blue;
//   color: white;
// }